$grey_dark: #333;
$green: #1bfa1b;
$greenyellow: #adff2f;
$red: #e02d2d;
$white: #fff;
body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: $grey_dark;
}

%button {
	border: solid transparent 1px;
	display: inline-block;
	cursor: pointer;
	outline: none;
	* {
		pointer-events: none;
	}
}

.cat-clicker {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: $grey;
	@include element('admin-button') {
		margin: 10px 0;
		@include modifier('is-active') {
			background-color: $red;
		}
		@extend %button;
		width: 150px;
		background-color: $green;
	}
}

.cat-list {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 150px;
	list-style: none;
	background-color: $white;
	@include element ('item') {
		padding: 15px;
		cursor: pointer;
	}
}

.display-cat {
	position: relative;
	background-color: $white;
	width: 640px;
	margin-left: 150px;
	padding: 10px;
	@include element ('header') {
		margin: 0;
	}
	@include element ('name') {
		@include modifier ('title') {
			// color: red;
		}
	}
	@include element ('image') {}
	@include element ('click-counter') {}
}

.admin-view {
	padding: 15px;
	width: 250px;
	height: auto;
	background-color: $greenyellow;
	@include modifier('is-hidden') {
		display: none;
	}
	@include element('input') {
		padding: 5px;
	}
	@include element('save') {
		@extend %button;
		width: 80px;
		height: 20px;
		margin: 10px;
		background-color: $green;
	}
	@include element('cancel') {
		@extend %button;
		width: 100px;
		height: 20px;
		margin: 10px;
		background-color: $red;
	}
}